nav {
  background-color: rgba(10, 86, 200, 0.95);
  /* height: 100px; */
}

/*
  ======== MAIN ========
                        */

main {
  padding-block: 8rem;
  top: 0;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    padding-block: 4rem;
    padding-top: 2rem;
  }
}

main img {
  animation: yourAnimation 2s linear 0s infinite alternate none;
}

.main__left {
  max-width: 550px;
}

@media (max-width: 1200px) {
  .main__left {
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .main__left {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .main__left {
    max-width: 100%;
  }
}

@keyframes yourAnimation {
  0.0% {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 5px);
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*
  ======== COMPANY ========
                        */

.company {
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.company:hover {
  background-color: #ebebeb;
  color: var(--bs-primary);
}

.underline {
  width: 80px;
  height: 4px;
  margin: auto;
  background-color: var(--bs-primary);
  border-radius: 10px;
}

/*
  ======== SERVICES ========
                        */

.services__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: transparent;
}

.services__card-wrapper {
  cursor: pointer;
  transition: 250ms ease-in-out;
  padding: 1.5rem;
}

.services__card-wrapper:hover {
  transform: translateY(-10px);
}

@media (max-width: 992px) {
  .services__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .services__cards {
    grid-template-columns: 1fr;
  }
}

/*
  ======== PARALLAX ========
                        */

.parallax {
  position: relative;
}

.parallax__items {
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-img {
  background-image: url('https://source.unsplash.com/dcL8ESbsGis/1600x900');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
}

.parallax-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*
  ======== PORTFOLIO ========
                        */

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1.5rem;
  grid-template-areas:
    'left1 center1 right1'
    'left1 center1 right1'
    'left1 center2 right2'
    'left2 center2 right2'
    'left2 center2 right3'
    'left2 center2 right3'
    'left2 center3 right4'
    '. center3 right4'
    '. center3 .';
}

@media (max-width: 992px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 1rem;
    grid-template-areas:
      'left1 right1'
      'left1 right1'
      'left1 right2'
      'center1 right2'
      'center1 center2'
      'left2 center2'
      'left2 center2'
      'left2 center2'
      'left2 right3'
      'center3 right3'
      'center3 right4'
      'center3 right4';
  }
}

.portfolio__item-wrapper {
  overflow: hidden;
  cursor: pointer;
}

.portfolio__item-wrapper .portfolio__item:hover {
  transform: scale(1.1);
}

.portfolio__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transition: 250ms ease-in-out;
}

.left1 {
  grid-area: left1;
}
.portfolio__item-1 {
  background-image: url('https://source.unsplash.com/bWZAPKm0zZE/420x450');
}

.center1 {
  grid-area: center1;
}
.portfolio__item-2 {
  background-image: url('https://source.unsplash.com/HIzGn9FZDFU/420x250');
}

.right1 {
  grid-area: right1;
}
.portfolio__item-3 {
  background-image: url('https://source.unsplash.com/FV3GConVSss/420x250');
}

.left2 {
  grid-area: left2;
}
.portfolio__item-4 {
  background-image: url('https://source.unsplash.com/XYlCd-Rz1y8/400x600');
}

.center2 {
  grid-area: center2;
}
.portfolio__item-5 {
  background-image: url('https://source.unsplash.com/Y3Mg3FdFsFs/420x550');
}

.right2 {
  grid-area: right2;
  height: 250px;
}
.portfolio__item-6 {
  background-image: url('https://source.unsplash.com/VJeAZr-Bu9E/420x250');
}

.center3 {
  grid-area: center3;
}
.portfolio__item-7 {
  background-image: url('https://source.unsplash.com/U2xNunPEJlc/400x500');
}

.right3 {
  grid-area: right3;
}
.portfolio__item-8 {
  background-image: url('https://source.unsplash.com/vcwRpwRniOQ/420x200');
}

.right4 {
  grid-area: right4;
}
.portfolio__item-9 {
  background-image: url('https://source.unsplash.com/8lLySi5hnoE/420x250');
}

/*
  ======== TEAM ========
                        */

.team__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.team__card-wrapper {
  padding: 2rem;
  gap: 1rem;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.team__card-wrapper:hover {
  transform: translateY(-10px);
}

@media (max-width: 992px) {
  .team__cards {
    grid-template-columns: 1fr;
  }

  .team__card {
    padding: 0.75rem;
    gap: 0.5rem;
  }
}

.team__icon {
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.team__icon:hover {
  color: var(--bs-primary);
}

/*
  ======== PRICING ========
                        */

.pricing__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 992px) {
  .pricing__cards {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: auto;
  }
}

/*
  ======== Contact ========
                        */

.contact__items {
  display: flex;
  gap: 2rem;
}

@media (max-width: 992px) {
  .contact__items {
    flex-direction: column;
  }
}

.contact__item {
  flex: 1;
  padding: 2rem;
}

.contact__icon {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: 250ms ease-in-out;
}

.contact__item-wrapper:hover .contact__icon {
  color: var(--bs-primary);
}

.contact__map {
  max-width: 300px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 250ms ease-in-out;
}

.contact__map:hover {
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
  transform: scale(0.99);
}

/*
  ======== Newsletter ========
                        */

.newsletter {
  max-width: 40rem;
}

/*
  ======== Footer ========
                        */

footer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 992px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  footer {
    grid-template-columns: 1fr;
  }
}

.footer__item p {
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.footer__item p:hover {
  transform: translateX(8px);
  color: var(--bs-primary);
}

.footer__icon {
  width: 30px;
  height: 30px;
  display: grid;
  color: var(--bs-primary);
  place-items: center;
  border-radius: 50%;
  transition: 250ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
}

.footer__icon:hover {
  transform: scale(0.95);
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0);
}
